1 "# Audit for BRGV-OS ###############################################################" on
2 "# Self Auditing ###################################################################" on
3 "## Audit the audit logs" on
4 "### Successful and unsuccessful attempts to read information from the audit records" on
5 "-a always,exit -F arch=b64 -F dir=/var/log/audit/ -F perm=wra -F key=auditlog" on
6 "## Auditd configuration" on
7 "### Modifications to audit configuration that occur while the audit collection functions are operating" on
8 "-a always,exit -F arch=b64 -F dir=/etc/audit/ -F perm=wa -F key=auditconfig" on
9 "-a always,exit -F arch=b64 -F path=/etc/libaudit.conf -F perm=wa -F key=auditconfig" on
10 "## Monitor for use of audit management tools" on
11 "-a always,exit -F arch=b64 -F path=/usr/sbin/auditctl -F perm=x -F key=audittools" on
12 "-a always,exit -F arch=b64 -F path=/usr/sbin/auditd -F perm=x -F key=audittools" on
13 "-a always,exit -F arch=b64 -F path=/usr/sbin/augenrules -F perm=x -F key=audittools" on
14 "## Access to all audit trails" on
15 "-a always,exit -F arch=b64 -F path=/usr/sbin/ausearch -F perm=x -F key=audittools" on
16 "-a always,exit -F arch=b64 -F path=/usr/sbin/aureport -F perm=x -F key=audittools" on
17 "-a always,exit -F arch=b64 -F path=/usr/sbin/aulast -F perm=x -F key=audittools" on
18 "-a always,exit -F arch=b64 -F path=/usr/sbin/aulastlog -F perm=x -F key=audittools" on
19 "# Filters ######################################################################" on
20 "### We put these early because audit is a first match wins system" on
21 "## Ignore current working directory records" on
22 "## -a always,exclude -F arch=b64 -F msgtype=CWD" on
23 "## Cron jobs fill the logs with stuff we normally don't want" on
24 "-a never,user -F arch=b64 -F subj_type=crond_t" on
25 "-a never,exit -F arch=b64 -F subj_type=crond_t" on
26 "## This prevents chrony from overwhelming the logs" on
27 "-a never,exit -F arch=b64 -S adjtimex -F auid=-1 -F uid=chrony -F subj_type=chronyd_t" on
28 "## This is not very interesting and wastes a lot of space if the server is public facing" on
29 "-a always,exclude -F arch=b64 -F msgtype=CRYPTO_KEY_USER" on
30 "## High Volume Event Filter (especially on Linux Workstations)" on
31 "-a never,exit -F arch=b32 -F dir=/dev/shm/ -F key=sharedmemaccess" on
32 "-a never,exit -F arch=b64 -F dir=/dev/shm/ -F key=sharedmemaccess" on
33 "-a never,exit -F arch=b32 -F dir=/var/lock/lvm/ -F key=locklvm" on
34 "-a never,exit -F arch=b64 -F dir=/var/lock/lvm/ -F key=locklvm" on
35 "# Rules #######################################################################" on
36 "## Kernel parameters" on
37 "-a always,exit -F arch=b64 -F path=/etc/sysctl.conf -F perm=wa -F key=sysctl" on
38 "-a always,exit -F arch=b64 -F path=/etc/sysctl.d -F perm=wa -F key=sysctl" on
39 "## Kernel module loading and unloading" on
40 "-a always,exit -F arch=b64 -F perm=x -F auid!=-1 -F path=/usr/sbin/insmod -F key=modules" on
41 "-a always,exit -F arch=b64 -F perm=x -F auid!=-1 -F path=/usr/sbin/modprobe -F key=modules" on
42 "-a always,exit -F arch=b64 -F perm=x -F auid!=-1 -F path=/usr/sbin/rmmod -F key=modules" on
43 "-a always,exit -F arch=b64 -S finit_module -S init_module -S delete_module -F auid!=-1 -F key=modules" on
44 "## Modprobe configuration" on
45 "-a always,exit -F arch=b64 -F path=/etc/modprobe.d -F perm=wa -F key=modprobe" on
46 "## Special files" on
47 "-a always,exit -F arch=b64 -S mknod -S mknodat -F key=specialfiles" on
48 "## Mount operations (only attributable)" on
49 "-a always,exit -F arch=b64 -S mount -S umount2 -F auid!=-1 -F key=mount" on
50 "## Change swap (only attributable)" on
51 "-a always,exit -F arch=b64 -S swapon -S swapoff -F auid!=-1 -F key=swap" on
52 "## Time" on
53 "### Local time zone" on
54 "-a always,exit -F arch=b64 -F path=/etc/localtime -F perm=wa -F key=localtime" on
55 "## Cron configuration & scheduled jobs" on
56 "-a always,exit -F arch=b64 -F path=/etc/cron.deny -F perm=wa -F key=cron" on
57 "-a always,exit -F arch=b64 -F dir=/etc/cron.d/ -F perm=wa -F key=cron" on
58 "-a always,exit -F arch=b64 -F dir=/etc/cron.daily/ -F perm=wa -F key=cron" on
59 "-a always,exit -F arch=b64 -F dir=/etc/cron.hourly/ -F perm=wa -F key=cron" on
60 "-a always,exit -F arch=b64 -F dir=/etc/cron.monthly/ -F perm=wa -F key=cron" on
61 "-a always,exit -F arch=b64 -F dir=/etc/cron.weekly/ -F perm=wa -F key=cron" on
62 "-a always,exit -F arch=b64 -F dir=/var/spool/cron/ -F perm=wa -F key=cron" on
63 "## User, group, password databases" on
64 "-a always,exit -F arch=b64 -F path=/etc/group -F perm=wa -F key=etcgroup" on
65 "-a always,exit -F arch=b64 -F path=/etc/passwd -F perm=wa -F key=etcpasswd" on
66 "-a always,exit -F arch=b64 -F path=/etc/gshadow -F perm=wa -F key=etcgroup" on
67 "-a always,exit -F arch=b64 -F path=/etc/shadow -F perm=wa -F key=etcpasswd" on
68 "## Sudoers file changes" on
69 "-a always,exit -F arch=b64 -F path=/etc/sudoers -F perm=wa -F key=actions" on
70 "-a always,exit -F arch=b64 -F dir=/etc/sudoers.d/ -F perm=wa -F key=actions" on
71 "## Passwd" on
72 "-a always,exit -F arch=b64 -F path=/usr/bin/passwd -F perm=x -F key=passwd_modification" on
73 "## Tools to change group identifiers" on
74 "-a always,exit -F arch=b64 -F path=/usr/sbin/groupadd -F perm=x -F key=group_modification" on
75 "-a always,exit -F arch=b64 -F path=/usr/sbin/groupmod -F perm=x -F key=group_modification" on
76 "-a always,exit -F arch=b64 -F path=/usr/sbin/useradd -F perm=x -F key=user_modification" on
77 "-a always,exit -F arch=b64 -F path=/usr/sbin/userdel -F perm=x -F key=user_modification" on
78 "-a always,exit -F arch=b64 -F path=/usr/sbin/usermod -F perm=x -F key=user_modification" on
79 "## Login configuration and information" on
80 "-a always,exit -F arch=b64 -F path=/etc/login.defs -F perm=wa -F key=login" on
81 "-a always,exit -F arch=b64 -F path=/etc/securetty -F perm=wa -F key=login" on
82 "-a always,exit -F arch=b64 -F path=/var/log/lastlog -F perm=wa -F key=login" on
83 "## Network Environment" on
84 "### Changes to hostname" on
85 "-a always,exit -F arch=b64 -S sethostname -S setdomainname -F key=network_modifications" on
86 "### Detect Remote Shell Use" on
87 "-a always,exit -F arch=b64 -F exe=/usr/bin/bash -F success=1 -S connect -F key=remote_shell" on
88 "### Successful IPv4 Connections" on
89 "-a always,exit -F arch=b64 -S connect -F a2=16 -F success=1 -F key=network_connect_4" on
90 "### Successful IPv6 Connections" on
91 "-a always,exit -F arch=b64 -S connect -F a2=28 -F success=1 -F key=network_connect_6" on
92 "### Changes to other files" on
93 "-a always,exit -F arch=b64 -F path=/etc/hosts -F perm=wa -F key=network_modifications" on
94 "-a always,exit -F arch=b64 -F dir=/etc/NetworkManager/ -F perm=wa -F key=network_modifications" on
95 "## Library search paths" on
96 "-a always,exit -F arch=b64 -F path=/etc/ld.so.conf -F perm=wa -F key=libpath" on
97 "-a always,exit -F arch=b64 -F path=/etc/ld.so.conf.d -F perm=wa -F key=libpath" on
98 "## Pam configuration" on
99 "-a always,exit -F arch=b64 -F dir=/etc/pam.d/ -F perm=wa -F key=pam" on
100 "-a always,exit -F arch=b64 -F path=/etc/security/limits.conf -F perm=wa  -F key=pam" on
101 "-a always,exit -F arch=b64 -F path=/etc/security/limits.d -F perm=wa  -F key=pam" on
102 "-a always,exit -F arch=b64 -F path=/etc/security/namespace.conf -F perm=wa -F key=pam" on
103 "-a always,exit -F arch=b64 -F path=/etc/security/namespace.d -F perm=wa -F key=pam" on
104 "-a always,exit -F arch=b64 -F path=/etc/security/namespace.init -F perm=wa -F key=pam" on
105 "## SSH configuration" on
106 "-a always,exit -F arch=b64 -F path=/etc/ssh/sshd_config -F key=sshd" on
107 "-a always,exit -F arch=b64 -F path=/etc/ssh/sshd_config.d -F key=sshd" on
108 "## AppArmor events that modify the system's Mandatory Access Controls (MAC)" on
109 "-a always,exit -F arch=b64 -F dir=/etc/apparmor.d/ -F perm=wa -F key=mac_policy" on
110 "## Critical elements access failures" on
111 "-a always,exit -F arch=b64 -S open -F dir=/etc -F success=0 -F key=unauthedfileaccess" on
112 "-a always,exit -F arch=b64 -S open -F dir=/bin -F success=0 -F key=unauthedfileaccess" on
113 "-a always,exit -F arch=b64 -S open -F dir=/sbin -F success=0 -F key=unauthedfileaccess" on
114 "-a always,exit -F arch=b64 -S open -F dir=/usr/bin -F success=0 -F key=unauthedfileaccess" on
115 "-a always,exit -F arch=b64 -S open -F dir=/usr/sbin -F success=0 -F key=unauthedfileaccess" on
116 "-a always,exit -F arch=b64 -S open -F dir=/var -F success=0 -F key=unauthedfileaccess" on
117 "-a always,exit -F arch=b64 -S open -F dir=/home -F success=0 -F key=unauthedfileaccess" on
118 "## Process ID change (switching accounts) applications" on
119 "-a always,exit -F arch=b64 -F path=/usr/bin/su -F perm=x -F key=priv_esc" on
120 "-a always,exit -F arch=b64 -F path=/usr/bin/sudo -F perm=x -F key=priv_esc" on
121 "## Power state" on
122 "-a always,exit -F arch=b64 -F path=/sbin/shutdown -F perm=x -F key=power" on
123 "-a always,exit -F arch=b64 -F path=/sbin/poweroff -F perm=x -F key=power" on
124 "-a always,exit -F arch=b64 -F path=/sbin/reboot -F perm=x -F key=power" on
125 "-a always,exit -F arch=b64 -F path=/sbin/halt -F perm=x -F key=power" on
126 "## Session initiation information" on
127 "-a always,exit -F arch=b64 -F path=/var/run/utmp -F perm=wa -F key=session" on
128 "## Discretionary Access Control (DAC) modifications" on
129 "-a always,exit -F arch=b64 -S chmod  -F auid>=1000 -F auid!=-1 -F key=perm_mod" on
130 "-a always,exit -F arch=b64 -S chown -F auid>=1000 -F auid!=-1 -F key=perm_mod" on
131 "-a always,exit -F arch=b64 -S fchmod -F auid>=1000 -F auid!=-1 -F key=perm_mod" on
132 "-a always,exit -F arch=b64 -S fchmodat -F auid>=1000 -F auid!=-1 -F key=perm_mod" on
133 "-a always,exit -F arch=b64 -S fchown -F auid>=1000 -F auid!=-1 -F key=perm_mod" on
134 "-a always,exit -F arch=b64 -S fchownat -F auid>=1000 -F auid!=-1 -F key=perm_mod" on
135 "-a always,exit -F arch=b64 -S fremovexattr -F auid>=1000 -F auid!=-1 -F key=perm_mod" on
136 "-a always,exit -F arch=b64 -S fsetxattr -F auid>=1000 -F auid!=-1 -F key=perm_mod" on
137 "-a always,exit -F arch=b64 -S lchown -F auid>=1000 -F auid!=-1 -F key=perm_mod" on
138 "-a always,exit -F arch=b64 -S lremovexattr -F auid>=1000 -F auid!=-1 -F key=perm_mod" on
139 "-a always,exit -F arch=b64 -S lsetxattr -F auid>=1000 -F auid!=-1 -F key=perm_mod" on
140 "-a always,exit -F arch=b64 -S removexattr -F auid>=1000 -F auid!=-1 -F key=perm_mod" on
141 "-a always,exit -F arch=b64 -S setxattr -F auid>=1000 -F auid!=-1 -F key=perm_mod" on
142 "# Software Management #############################################################" on
143 "# XBPS (Void)" on
144 "-a always,exit -F arch=b64 -F path=/usr/bin/xbps-install -F perm=x -F key=software_mgmt" on
145 "-a always,exit -F arch=b64 -F path=/usr/bin/xbps-remove -F perm=x -F key=software_mgmt" on
146 "-a always,exit -F arch=b64 -F dir=/var/db/xbps/ -F perm=wa -F key=software_mgmt" on
147 "# High Volume Events ##############################################################" on
148 "## Root command executions" on
149 "-a always,exit -F arch=b64 -F euid=0 -F auid>=1000 -F auid!=-1 -S execve -F key=rootcmd" on
150 "## File Deletion Events by User" on
151 "-a always,exit -F arch=b64 -S rmdir -S unlink -S unlinkat -S rename -S renameat -F auid>=1000 -F auid!=-1 -F key=delete" on
152 "## File Access" on
153 "### Unauthorized Access (unsuccessful)" on
154 "-a always,exit -F arch=b64 -S creat -S open -S openat -S open_by_handle_at -S truncate -S ftruncate -F exit=-EACCES -F auid>=1000 -F auid!=-1 -F key=file_access" on
155 "-a always,exit -F arch=b64 -S creat -S open -S openat -S open_by_handle_at -S truncate -S ftruncate -F exit=-EPERM -F auid>=1000 -F auid!=-1 -F key=file_access" on
156 "### Unsuccessful Creation" on
157 "-a always,exit -F arch=b64 -S mkdir,creat,link,symlink,mknod,mknodat,linkat,symlinkat -F exit=-EACCES -F key=file_creation" on
158 "-a always,exit -F arch=b64 -S mkdir,link,symlink,mkdirat -F exit=-EPERM -F key=file_creation" on
159 "### Unsuccessful Modification" on
160 "-a always,exit -F arch=b64 -S rename -S renameat -S truncate -S chmod -S setxattr -S lsetxattr -S removexattr -S lremovexattr -F exit=-EACCES -F key=file_modification" on
161 "-a always,exit -F arch=b64 -S rename -S renameat -S truncate -S chmod -S setxattr -S lsetxattr -S removexattr -S lremovexattr -F exit=-EPERM -F key=file_modification" on
162 "## 32bit ABI Exploitation" on
163 "### https://github.com/linux-audit/audit-userspace/blob/c014eec64b3a16c004f4a75e5792a4ac2fcc0df2/rules/21-no32bit.rules" on
164 "### If you are on a 64 bit platform, everything _should_ be running" on
165 "### in 64 bit mode. This rule will detect any use of the 32 bit syscalls" on
166 "### because this might be a sign of someone exploiting a hole in the 32" on
167 "### bit ABI." on
168 "-a always,exit -F arch=b32 -S all -F key=32bit_abi" on

