[Desktop Entry]
Name=Install\nBRGV-OS
Comment=Install BRGV-OS on disk
Name[ro]=Instalare\nBRGV-OS
Comment[ro]=Instalare BRGV-OS pe disc
Icon=brgvos-logo
Exec=gnome-terminal --geometry=120x42 --window --title="BRGV-OS Installer" -- pkexec brgvos-installer
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=true
X-LXQt-Need-Tray=false
